/* css for Saved component */

.saved {
  padding-top: 1em;

  .empty {
    align-items: center;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
    color: #999;
    display: flex;
    height: 20em;
    justify-content: center;
  }
}
